*{
	margin: 0;
	padding: 0;
	font-family: initial sans-serif ;
	font-size: 14px;
	font-weight: bold;
}
.veggies{
	height: 100%;
	width: 100%;
	background-image: url('bghome.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;
} 
 h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0;
	margin-right: 50px;
	margin-left: 50px;
	font-size: 50px;
	color: white;
}

.log{
	font-size: 100px;
	color:black;
	position: absolute;
}
.text_box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 1% auto;
	background: linear-gradient(to right, #84ffff, transparent);
	padding: 5px;
	border-radius: 10%;
	border:1px solid skyblue ;
	overflow: hidden;

}
.button_box{
	height: 40px;
	width: 220px;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 0 20px 3px #40c4ff;
	border-radius: 30px;


}
.btn_log-reg{
	padding: 13px 30px ;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;

}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #00b0ff, red);
	border-radius: 30px;
	transition: .5s;

}
.log h1{
	color: black;
}
.icons{
	text-align: center;
	margin: 30px auto;
	height: 10px;
}
.icons img{
	width: 40px;
	margin: 0 12px;
	box-shadow: 0 0 20px 2px #40c4ff;
	cursor: pointer;
	border-radius: 50%;

}
.input_board{
	top: 150px;
	position: absolute;
	width: 280px;
	transition: .5s;
	color: black;
	margin: 20px;
}
.input_box{
	width: 100%;
	padding: 15px 0;
	margin: 5px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid #455a64;
	background: transparent;
	outline: none;

}.error-message p{
	color: red;

}

.Submit_button{

	width: 70%;
	padding: 10px 20px;
	
	cursor: pointer;
	display: block;
	margin-top: 5px;
	margin-left: 35px;
	background: linear-gradient(to right, #00b0ff, aqua);
	border: none;
	border-radius: 30px;
}


.Back_button{
	width: 20%;
	padding: 10px 10px;
	cursor: pointer;
	display: block;
	margin-top: 325px;
	margin-left: 5px;
	background: linear-gradient(to right, #00b0ff, aqua);
	border: none;
	border-radius: 10px;
	position: relative;
}


.check{
	margin: 30px 10px 30px 0;

	background: #e1f5fe;
}
span{
	color: black;
	font-size: 15px;
	bottom: 68px;
	position: absolute;
}
#Login{
	left: 450px;
}
#Register{
	left: 50px;
}